@charset "UTF-8";

/* font-family: 'Raleway', sans-serif; */
/*body*/

body, html{
  padding: 0;
  margin: 0;
}


/*body {
  font-family: 'Raleway', sans-serif;
}*/

.container-fluid{
  padding: 0px;
}

a, a:hover{
  text-decoration: none;
}

.about{
text-align: center;
}

.separator{
height: 3px;
width: 5%;
border:none;
box-shadow: none;
background-color:#3498BD;
}







/* header */


.banniere{
   position: relative;
   background-color: #3498BD;
   line-height: 70px;
   height: 70px;

}

.logo{
  color: #ffffff;
  texte-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  float: left;
}

.menu{
  float: right;
}

.menu a{
  color: #ffffff;
  margin-right: 10px;
}

.menu a:hover{
  color: #2C3E50;
}
/* banniere */

.banner{
  width: 100%;
  max-width: 100%
}

.ban{
  width: 100%;
  max-width: 100%;
}

.ban img{
  position: relative;
  width: 100%;
  max-width: 100%;
}

.inner-banner{
  position: absolute;
  top: 400%;
  width: 100%;
  text-align: center;
}

.photo {
  position: top left;
  height: 20px;
}



.inner-banner{
  color: white;
}

.inner-banner .btn-primary:hover{
  background-color: #004C8C;
}

.row{
  line-height: 40px;
}

/*#hamburger, #hamburger-content{
  display: inline;
}

#hamburger-button {
  display:none;
  cursor: pointer;
  background: none;
  border:none;
  padding: 0;
  vertical-align:top;
  line-height: 47px;
  float: right;
  margin-right: 32px;

}

#hamburger-overlay{
  display: none;
  position:fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  background-color: rgba(0, 0, 0, .4);
}

#hamburger-sidebar{
  position: fixed;
  width:84%;
  z-index: 20;
  height: 100%;
  top:0;
  left:0;
  background-color: #FFF;
}

#hamburger-sidebar li{
  display: block;
}
#hamburger-sidebar-herder{

}*/




/* about */


/* GitHub */


/* contact */
.row{
text-align: center;
}
